.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #8323bb;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.header h1 {
  position: relative;
  transform: translateX(3rem);
}

.image {
  position: relative;
  transform: translateY(0.6rem) translateX(-2rem);
  border-radius: 100%;
  width: 5.2rem;
}
.image2 {
  position: relative;
  transform: translateY(-0.8rem) translateX(-2rem);
  border-radius: 100%;
  width: 3.3rem;
}

.main-image {
  width: 100%;
  height: 29rem;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}
